@use "../util/" as *;

.container {
  max-width: rem(327);
  margin: rem(148) auto rem(85);
  background-color: white;
  border-radius: rem(23);

  @include breakpoint(large) {
    max-width: rem(920);
    margin: rem(129) auto;
  }
}
